@charset "UTF-8";
/* CSS Document */

body,h1,h2, ul, p, img { margin:0; padding:0; font-family:Open Sans, sans-serif; }
body { text-align:center; background:url(../images/body-content-bg.png) repeat-x #fff; margin:0; }
body#intro { background:url(../images/body-bg.png) repeat-x #d2e7d4; margin:10px; }
a { color:#5C2C23; }
img { border:0; }
ul { list-style-type:none; }
.fl { float:left; }
.fr { float:right; }
.breaker { clear:both; }
.spacer { height:20px; clear:both; }
.center { text-align:center; }
*:before, *:after { -moz-box-sizing:border-box; }

#home { margin:0 auto; background:url(../images/home.jpg) no-repeat; overflow:hidden; width:984px; height:494px; position:relative;  }
#home-construction { margin:0 auto; overflow:hidden; width:984px; height:494px; border:1px solid #8d685c; position:relative;  }
#home-construction ul { color:#8d685c; margin-top:250px; }

#home h1 { text-indent:-99999px; }
#home ul { display:block; clear:both; position:absolute; top:270px; left:180px; width:auto; text-align:center; -webkit-border-radius:12px; -moz-border-radius:12px; border-radius:12px; background:#9bca9f; }
#home ul li { text-align:center; padding:2px 10px; margin:0 auto; color:#fff; font-size:0.5em; float:left; }
#home ul li a { color:#fff; text-decoration:none;  display:inline-block; margin:0 5px 0; font-size:1.6em; line-height:1.4em; padding-top:-5px; }
#home ul li a:hover { text-decoration:underline; }
#home ul li.first { background:url(../images/separator.png) no-repeat right center; overflow:hidden; }


#page { margin:0 auto; width:100%; overflow:hidden; text-align:left; }

.header { background:url(../images/header.jpg) no-repeat; width:984px; height:126px; margin:0 auto; position:relative; }
.header h1 { position:absolute; left:12px; top:20px; }
.main-content { overflow:hidden; width:984px; margin:0 auto; background:#fff; }
.main-content-bottom { background:url(../images/visuel-footer.jpg) no-repeat 665px top #fff; overflow:hidden; height:25px; padding:110px 20px 5px; width:944px; margin:0 auto; }
#navigation { /*background:url(../images/nav-bg.png) no-repeat;*/ background:#529858; width:964px; height:25px; margin:0 auto; padding:0 10px; }
/*#navigation li { background:url(../images/nav-separator.png) no-repeat left 8px; }*/
#navigation li a, #navigation li span { color:#fff; text-decoration:none; padding:0 15px 0 10px; font-size:0.9em; text-transform:uppercase; }
#navigation li.first { background:none; }
.nav-langue { position:absolute; top:0; right:5px; font-size:0.9em; }
.nav-langue li { display:inline-block; margin:2px 0; padding:0 3px; line-height:1em; }
.nav-langue li a { text-decoration:none; color:#529858; }
.nav-langue li.active { background:#529858; color:#fff; }
.nav-langue li a:hover { text-decoration:underline; }
/*#navigation li.last-event { display:none; }*/

#navigation ul { display:none; width:200px; }
#navigation li:hover > ul { display:block; }
#navigation { list-style:none; position:relative; display:inline-table; }
#navigation:after { content:""; clear:both; display:block; }
#navigation li { float:left; }
#navigation li:hover { background:#7cc682; }
#navigation li:hover a { color:#fff; }
#navigation li a, #navigation li span { display:block; height:27px; padding-top:5px; }
#navigation li a:hover, #navigation li span:hover { background:#7cc682;}
#navigation ul { background:#7cc682; position:absolute; top:100%; z-index:1; }
#navigation ul li { float:none; background:none; }
#navigation ul li a { color:#fff; font-size:0.9em; padding:5px 10px 0; text-transform:inherit; }	
#navigation ul li a:hover { text-decoration:underline; }
#navigation ul ul { position:absolute; left:100%; top:0; }

.breadcrumbs { margin:10px 20px; font-size:0.9em; color:#5C2C23; }
.breadcrumbs a { color:#5C2C23; text-decoration:none; }
.breadcrumbs a:hover { text-decoration:underline; }
.breadcrumbs h2 { font-weight:600; display:inline-block; color:#5C2C23; font-size:1em; }

#accordion { list-style:none; padding:0; height:300px; overflow:hidden; background:#fff; margin:0 !important; float:left; }
#accordion li { float:left; border-right:2px solid #fff; display:block; height:300px; width:27px; padding:0; overflow:hidden; color:#fff; text-decoration:none; font-size:16px; line-height:1.5em; }
#accordion li img { border:none; border-right:1px solid #fff; float:left; margin:0; }
#accordion li.active { width:674px; }
.slide_content { float:left; width:0; overflow:visible; }
.slide_content img { float:left; display:block; margin:0; width:664px; border:0; }

.visuel-soins { overflow:hidden; }

.banner { position: relative; overflow: auto; float:left; width:699px !important; border:1px solid #9a5d42; }
.banner li { list-style: none; }
.banner ul, .banner li { margin:0 !important; }
.banner ul li { float: left; }
.banner .caption { margin-top:-5px; display:inline-block; height:22px; width:703px; color:#fff; padding:5px 5px 0; font-size:1.3em; text-transform:uppercase; font-family:'Lustria', serif;
background: #5e301d; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVlMzAxZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5YTVkNDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #5e301d 0%, #9a5d42 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5e301d), color-stop(100%,#9a5d42)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #5e301d 0%,#9a5d42 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #5e301d 0%,#9a5d42 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #5e301d 0%,#9a5d42 100%); /* IE10+ */
background: linear-gradient(to bottom,  #5e301d 0%,#9a5d42 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e301d', endColorstr='#9a5d42',GradientType=0 ); /* IE6-8 */
}
.banner .caption i { font-style:normal; }
.banner img { width:703px !important; height:318px !important; }
	.banner .dots {
		position: absolute;
		right: 10px;
		top:306px;
	}
	
@media screen and (-webkit-min-device-pixel-ratio:0) {

    /*Chrome CSS here*/

	.banner .dots {
        top:auto;
        bottom:-10px;
    }
}	
		.banner .dots li {
			display: inline-block;
			width: 8px;
			height: 8px;
			margin: 0 3px !important;
			text-indent: -999em;
			border: 2px solid #fff;
			border-radius: 6px;
			cursor: pointer;
			opacity: .4;
			-webkit-transition: background .5s, opacity .5s;
			-moz-transition: background .5s, opacity .5s;
			transition: background .5s, opacity .5s;
		}
			.banner .dots li.active {
				background: #fff;
				opacity: 1;
			}


#mycarousel a { text-decoration:none; }
#mycarousel img { width:150px; height:256px; border:1px solid #906a63; margin-bottom:5px; }
#mycarousel .large { width:300px; }
#mycarousel .large img { width:300px; height:256px; border:1px solid #906a63; margin-bottom:5px; }
#mycarousel .caption  { text-decoration:none; font-size:0.9em; }
#mycarousel .caption strong { display:block; margin-bottom:5px; }

.right-col { padding:0 10px 10px 10px; float:right; width:210px; background:url(../images/right-col-bg.png) no-repeat left top; /*border:1px solid #afd7b2;*/ min-height:600px; }
.best-sellers { background:url(../images/titre-best-sellers.gif) no-repeat; padding-top:30px; margin-top:10px; float:left; width:703px; }
.best-sellers-en { background-image:url(../images/titre-best-sellers_en.gif) !important; }
.best-sellers .bloc { width:350px; float:left; }
.best-sellers h2  { font-weight:600; display:inline-block; color:#5C2C23; font-weight:normal; font-size:1.2em; }
.right-col h3 { background:url(../images/puce-arrow.png) no-repeat left 10px; padding-left:8px; padding-top:5px; margin:0 0 5px 0; color:#5da363; }
.best-sellers a { text-decoration:none; }
.best-sellers a:hover { text-decoration:underline; }
.best-sellers ul { margin-left:0 !important; }
.best-sellers li { margin-left:0; margin-bottom:5px; }
.brandalley { margin:10px 0 10px 10px; float:left; display:none; }

.tel { font-size:1.2em !important; background:url(../images/icone-tel.png) no-repeat scroll 0 7px transparent; padding-left:28px; font-weight:bold; min-height:30px; padding-top:4px; }

.nouveaute { /*-webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px;*/ background:#77b37c; display:inline-block; color:#fff; clear:both; padding:0 8px; margin-top:5px; font-size:0.7em; }
.best-seller { /*-webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px;*/ background:red; display:inline-block; color:#fff; clear:both; padding:0 8px; margin-top:5px; font-size:0.7em; }
.description .nouveaute, .description .best-seller  { margin:0; margin-left:10px; }
#mycarousel .best-seller { clear:both; font-size:0.9em; }
#mycarousel .nouveaute { margin-right:10px; font-size:0.9em; }

ul#nav { padding-left:10px; padding-top:17px; text-align:left; }
ul#nav li { margin-bottom:10px; font-size:0.8em; padding-left:26px; }
ul#nav li a { color:#1d0d08; text-decoration:none; padding-top:10px; }
ul#nav li a:hover { text-decoration:none; color:#8d685c; }
ul#nav li.on { background:url(../images/puce.png) no-repeat left 0; }
ul#nav li.retour { margin-top:30px; padding-left:0px; }
ul#nav li.retour a { background:url(../images/retour.gif) no-repeat 26px 2px; padding-left:35px; padding-top:0px; font-size:0.8em; }
ul#nav li.retour :hover  { background:url(../images/retour-on.gif) no-repeat 26px 2px; }


.main-text { /*background:url(../images/visuel-fond-bg.jpg) no-repeat right bottom;*/ margin:20px 0 0 0; /*padding-bottom:120px;*/ color:#5C2C23; }
.main-text .content { width:735px; padding:10px; float:left; }
.main-text .ingredients .scroll-pane { height:340px; overflow:auto; }
.main-text .ingredients, .main-text .charte { width:700px; }
.main-text .ingredients strong { font-size:1em; }
.main-text .contact { width:550px; }
.main-text .contact p { text-align:left !important; }
.main-text .contact img { margin:5px 0 10px; float:left; margin-right:15px; }
.main-text .text-presentation { width:700px; }
.main-text .text-presentation p { color:#5C2C23; }
.main-text .evenement { width:550px; }
.main-text .evenement .col { float:left; padding:10px 20px 0; text-align:center; }
.main-text .evenement .col img { margin:0 auto; margin-bottom:10px; }
.main-text .evenement .col strong { font-size:1em; }
.bigger { font-size:0.9em !important; font-weight:600; }
 
.proprietes { height:auto; padding-bottom:30px; }
.presse { height:auto; /*padding-bottom:50px;*/ }
.couverture { display:inline-block; }
.presentation, .partenaires { height:auto; /*padding-bottom:20px; */}
.presentation { width:520px; float:left; margin-top:0; }
.right-col-presentation iframe { margin-bottom:10px; border:1px solid #906a63; }
.right-col-presentation { width:400px; }
.presentation h3{ font-size:1em !important; margin:20px 0 10px; }
.partenaires h3 { font-size:1em !important; margin:10px 0 0; }
.bloc-showroom { }
.bloc-infos-prodtuis { float:left; margin-left:80px; }
.contact { height:auto; overflow:hidden; }
.bon-commande { height:auto; /*padding-bottom:170px;*/ float:left; margin-top:0; width:700px; }
.bon-commande h3 { background:none; padding-left:0; margin-bottom:10px; font-size:1em !important; }
.lien-bon-de-commande { background:url(../images/order.png) no-repeat; padding-left:35px; display:block; font-size:0.8em; height:30px; padding-top:6px; }
.actifs .bloc { margin-bottom:50px; }
.actifs .bloc img { float:left; margin:0 15px 15px 0; padding:4px; border:1px solid #906A63; }
.actifs .bloc img.img-right { float:right; margin:0 0 15px 15px; }
.actifs .bloc h2 { font-size:1.3em; margin:0 0 20px; font-weight:600; padding:0; line-height:0.6em; }
.actifs .bloc h3 { margin-bottom:0; }

.formulaire { margin-top:20px; float:left; }
.formulaire ul { margin:0 !important; padding:0; }
.formulaire { margin-bottom:50px; overflow:hidden; clear:both; }
.formulaire ul { margin-top:20px; float:left; clear:both; font-size:0.85em; }
.formulaire ul li { background-image:none !important; padding-left:0px; padding-bottom:5px}
.formulaire .title { border-bottom:1px solid #6f8d09; padding-bottom:2px; width:675px; }
.formulaire .intitule { display:block; width:180px ; clear:left; float:left; overflow:hidden;  padding-top:2px }
.formulaire input, .formulaire select { width:200px }
.formulaire textarea { width:400px; height:150px; }
.formulaire .adresse { width:400px }
.formulaire .cp { width:60px }
.formulaire .title-left { float:left; line-height:22px}
.formulaire a.print { float:right; margin-bottom:3px; display:block; }
.formulaire .hidden { display:none; }
.formulaire .envoyer { clear:both; float:right; border:0; padding:0; margin:0; background:url(../images/btn-bg.gif); cursor:pointer; width:130px; height:25px; color:#fff; }
.error { color:#ff0000;  }
label.error { color:#ff0000; padding-left:180px; display:block; font-style:italic; }

.catalogue { float:right; margin-right:80px; width:232px; text-align:center; font-weight:600; }
.lien-catalogue { background:url(../images/puce-arrow-big.png) no-repeat 4px; padding-left:14px; text-align:left; font-weight:600; margin-top:10px; display:block; }
.lien-catalogue-en { margin-left:25px; }
.catalogue-home { float:left; font-size:0.9em; padding-top:5px; text-align:left; background:url(../images/titre-catalogue.gif) no-repeat; padding-top:45px; }
.catalogue-home img { margin-bottom:10px; }
.catalogue-home a.download { background:url(../images/puce-arrow-big.png) no-repeat 0 4px; padding-left:14px; font-weight:600; margin:0 auto; }
.catalogue-home p { text-align:left; }
.nouveautes-home { float:left; font-size:0.9em; padding-top:5px; text-align:left; background:url(../images/titre-nouveautes.gif) no-repeat; padding-top:45px; height:265px; }
.nouveautes-home-en { background-image:url(../images/titre-nouveautes-en.gif) !important;  }

.nouveautes-home img { margin-bottom:10px; }
.nouveautes-home a.link { background:url(../images/puce-arrow-big.png) no-repeat 0 5px; padding-left:14px; font-weight:600; margin:0 auto; }

#content { margin:20px 18px 10px 20px; background:#fff; }
#content h3 { color:#5C2C23; font-size:1em; font-weight:600; }
#content h4 { color:#5C2C23; margin-bottom:0; font-weight:600;  }
#content p { margin-bottom:10px; color:#5C2C23; font-size:0.9em; }
#content strong { font-weight:600; }
#content ul { margin-left:10px; font-size:0.8em; color:#5C2C23; }

.fiche-produit { margin:40px 20px 40px; overflow:hidden; }
.fiche-produit img { width:200px; height:342px; border:1px solid #906a63; margin-right:10px; margin-bottom:5px; display:block; }
.retour { font-size:0.8em; margin-top:20px; margin-bottom:20px; display:block; text-decoration:none; background:url(../images/arrow-back.png) no-repeat 0 5px; padding-left:8px; }
.fiche-produit .retour { margin-top:40px; }
.fiche-produit .retour:hover { text-decoration:underline; }
.fiche-produit .description { float:left; width:600px; }
.fiche-produit p { font-size:0.9em; }
.fiche-produit h3 { margin:0 0 20px 0; font-size:1.3em !important; }
.bloc-produit { float:left; width:240px; font-size:0.7em; color:#999; text-align:left; }
.bloc-evenement { /*padding-bottom:660px;*/ }
.bloc-evenement img { border:1px solid #906a63; margin-bottom:40px; margin-right:20px; }
.composants { margin-top:20px; }
.uppercase { text-transform:uppercase; }
.panel-container .composants { margin-top:0; }
.acheter { background:url(../images/picto-acheter.png) no-repeat; padding-left:35px; display:block; height:20px; margin-top:20px; font-size:0.8em; padding-top:5px; text-decoration:none; }
.acheter:hover { text-decoration:underline; }
.acheter.clear-fix { clear:both; margin-top:10px; }

.prix { border-top:1px solid #ccc; padding:5px 0 5px; font-weight:600; color:#5C2C23; font-size:1.3em; margin-top:20px; display:none; }
.prix .commander { clear:both; float:right; border:0; padding:0; margin:0; background:url(../images/btn-bg.gif); cursor:pointer; width:130px; height:25px; color:#fff; text-decoration:none; font-size:0.8em; text-align:center; font-weight:normal; }
.prix .stock { font-size:0.8em; padding-left:10px; display:inliine-block; color:green; }
.prix .stock-out { font-size:0.8em; padding-left:10px; display:inliine-block; color:red; }

.magnifyarea { box-shadow: 5px 5px 7px #ccc; -webkit-box-shadow: 5px 5px 7px #ccc; -moz-box-shadow: 5px 5px 7px #ccc; filter: progid:DXImageTransform.Microsoft.dropShadow(color=#818181, offX=5, offY=5, positive=true); background: white; }

#social { float:left; padding-bottom:10px; overflow:hidden; height:30px; }
#copyright { font-size:0.6em; text-align:right; color:#5C2C23; line-height:27px; float:right; }
.addthis_toolbox, .fb-like { float:left; }
.fb_iframe_widget span, .fb_ltr { width:220px !important; }
.addthis_toolbox { padding-top:5px; z-index:100; overflow:visible; }

.adelphe { display:block; padding:10px 20px; width:300px; text-align:center; }
.adelphe img { vertical-align:middle; margin:0 auto; margin-bottom:10px; display:block; }

.maintenance { background:#fff !important; width:972px !important; height:482px !important; border:6px solid #9BCA9F; }
.maintenance .message { margin-top:150px; }

.presse h3, .partenaires h3, .actifs h3 { background:url(../images/puce-arrow-big.png) no-repeat left center; padding-left:12px; font-size:0.9em !important; display:block; }
.actifs h3 { display:inline-block; }
.presse h3 { cursor:pointer; }
.presse h3.active { background:url(../images/puce-arrow-big-down.png) no-repeat left center;  }
.presse h3 a:hover { text-decoration:none; }
.presse h4 { margin:5px 0 30px !important; font-size:0.9em; }
.presse .hidden { display:none; }
.presse h4.no-margin { margin:5px 0 0 !important; }
.presse img { margin:0; border:1px solid #ccc; }
.presse .toggle-content { padding-left:14px; }

#toTop { display:none; text-decoration:none; position:fixed; bottom:10px; right:10px; overflow:hidden; width:51px; height:51px; border:none; text-indent:100%; background:url(../images/ui.totop.png) no-repeat left top; }
#toTopHover { background:url(../images/ui.totop.png) no-repeat left -51px; width:51px; height:51px; display:block; overflow:hidden; float:left; opacity: 0; -moz-opacity: 0; filter:alpha(opacity=0); }
#toTop:active, #toTop:focus { outline:none; }

/* Example Styles for Demo */
.etabs { margin: 0; padding: 0; }
.tab { display: inline-block; zoom:1; *display:inline; background: #eee; border: solid 1px #ccc; border-bottom: none; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; }
.tab a { font-size: 1em; line-height:normal; display: block; padding: 0 10px; outline: none; text-decoration:none; padding:5px 10px; }
.tab a:hover { }
.tab.active { background: #fff; position: relative; top: 1px; border-color: #ccc; padding-top:1px; }
.tab a.active { font-weight: 600; }
.tab-container .panel-container { background: #fff; border: solid #ccc 1px; padding: 10px; -moz-border-radius: 0 4px 4px 4px; -webkit-border-radius: 0 4px 4px 4px; }
.panel-container { margin-bottom: 10px; }


